table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow-y:scroll;
    height:100px;
    display: inline-table;
}
.play-table {
    margin-left: 3%;
    margin-right: 3%;
}
a {
    color: black;
}
.container-fluid {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 60px;
    padding-right: 60px;
}
.container-fluid2 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
}
.container-fluid3 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 10px;
}
table th{
    text-align: center;
    font-size: 20px;
    background-color: #F6DB00;
    height: 55px;
}
table td{
    border: 2px solid #ffffff;
    text-align: center;
}
table tr:nth-child(odd) td{
    background-color: #FCF4B3;
}
table tr:nth-child(even) td{
    background-color: FCF4B3;
}
.fa {
    padding: 10px;
    font-size: 150%;
    text-align: center;
    text-decoration: none;
    margin-left: 0;
    margin-right: 0;
}
.fa-trash {
    color: black;
}

.top-buttons {
    margin-top: 25px;
    margin-bottom: 37px;
}