table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow-y:scroll;
    height:100px;
    display: inline-table;
}
.fixed_header tbody{
display:block;
overflow:auto;
height:300px;
width:100%;
}
.fixed_header thead tr{
display:block;
}
.container-fluid {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #f8f6e8;
    background-image: url(/static/latar.png);
}
.container-fluid2 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3%;
}
.container-fluid3 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 10px;
}
.container-fluid4{
    padding-top: 220px;
    padding-bottom: 220px ;
}
table th{
    text-align: center;
    font-size: 20px;
    background-color: #f8c246;
    padding: 4px 30px 4px 8px;
    /* border: 2px solid #000000; */
    box-shadow: #000000;
}
table td{
    border: 2px solid #ffffff;
    padding: 4px 8px;
}
table tr:nth-child(odd) td{
    background-color: #ffdc89;
}
table tr:nth-child(even) td{
    background-color: #fff9d7;
}
.bg1{
    background-image: url(/static/bg1.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
}
.aturan{
    text-align: right;
    padding-right: 7%;
    line-height: 1.2;
}
.button1 {
display: inline-block;
border-radius: 10px;
background-color: #f0f0f0;
border: none;
color: #151515;
text-align: center;
font-size: 25px;
padding: 10px;
width: 150px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}

.button1 span {
cursor: progress;
display: inline-block;
transition: 0.5s;
}

.button1 span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button1:hover span {
padding-right: 25px;
}

.button1:hover span:after {
opacity: 1;
right: 0;
}
.button2 {
display: inline-block;
border-radius: 10px;
background-color: #f3b932;
border: none;
color: #f0f0f0;
text-align: center;
font-size: 25px;
padding: 10px;
width: 150px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}

.button2 span {
cursor: progress;
display: inline-block;
transition: 0.5s;
}

.button2 span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button2:hover span {
padding-right: 25px;
}

.button2:hover span:after {
opacity: 1;
right: 0;
}
.accordion-buttons {
    display: flex;
    flex-direction: row;
}

.accordion-buttons div {
    margin: 11px;
    border-radius: 15px;
    padding: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: rgb(100, 100, 100);
    cursor: pointer;
}
#anon{
    width: 300px;
    height: 200px;
    background-color: rgba(255, 182, 0, 1.00);
    border: 1px solid orange;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    line-height: 198px;
    box-shadow: 0px 0px 8px 4px orange;
    margin: 150 auto;
    animation: aniset 1.5s infinite ease-in-out;
    display: none;
}
@keyframes aniset{
    0%{
        transform: matrix3d();
    }
}
