table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow-y:scroll;
    height:100px;
    display: inline-table;
}
.container-fluid {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #f8f6e8;
    background-image: url(/static/latar.png);
}
.container-fluid2 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
}
.container-fluid3 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 10px;
}
table th{
    text-align: center;
    font-size: 20px;
    background-color: #f8c246;
    padding: 4px 30px 4px 8px;
}
table td{
    border: 2px solid #ffffff;
    padding: 4px 8px;
}
table tr:nth-child(odd) td{
    background-color: #ffdc89;
}
table tr:nth-child(even) td{
    background-color: #fff9d7;
}
.fixed_header tbody{
    display:block;
    overflow:auto;
    height:300px;
    width:100%;
    }
.fixed_header thead tr{
    display:block;
}