/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
body {
    height: 100%;
    min-height: 35rem;
    position: relative;
    font-family: Arial;
    font-weight: 300;
    background-image: url(/static/logo/latar.png);
}

.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}

.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
}

.btn-circle.btn-xl {
    width: 80px;
    height: 80px;
    padding: 18px 16px;
    border-radius: 50px;
    font-size: 12px;
    text-align: center;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    /* background-color: #0C9; */
    /* color: #FFF; */
    border-radius: 50px;
    text-align: center;
    /* box-shadow: 2px 2px 3px #999; */
}

.logo {
    color: white;
    font-size: 40px;
}

.menu {
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}