{% extends 'base.html' %}

    {% block meta %}
    {% load static %}
    <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script> 
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
    {% endblock meta %}

    {% block content %}
    <div class="container top-buttons">
        <h2>Semua lagu dari {{cont}}</h2>
        <div class="container-fluid3" style="margin-top: 20px;margin-bottom: 45px;">
            <a href="/songlib/addsong" style="float: right;">
                <button type="submit" class="btn" style="background-color: #F6DB00; border-radius: 20px;">Tambahkan lagu</button>
            </a>
            <a href="/songlib/" style="float: left;">
                <button type="submit" class="btn" style="background-color: #F6DB00; border-radius: 20px;">Kembali ke library</button>
            </a>
        </div>  
    </div>
        <div class="play-table">
            <table>
                <tr>
                    <th style="width: 45%;" scope="col">Judul</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Delete</th>
                </tr>
                {% for s in songs %}
                <tr>
                    <td style="width: 45%; text-align: left; padding-left: 2%;" scope="row">
                        <a href="{{s.link}}">{{s.judul}}</a>
                    </td>
                    <td scope="row">
                        <a href="/songlib/filter/genre/{{s.genre}}">{{s.genre}}</a>
                    </td>
                    <td><a href="/songlib/delete/{{s.id}}" class="fa fa-trash"></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% endblock content %}