{% extends 'base.html' %}

    {% block meta %}
    {% load static %}
    <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script> 
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
    <style>
        ul {
            list-style-type: none;
        }
    </style>

    {% endblock meta %}

    {% block content %}
        <h3 class="container" style="margin-bottom: 3%; margin-top: 2%;">Tambahkan playlist baru</h3>
        <form action="save" method="POST" style="padding: 2px;" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group container">
                {{ p_form.as_p }}
            </div>
            <br>
            <div class="row">
                <div class="com-sm-12 col-md-6" style="margin-left: 35%;">
                    <button type="submit" class="btn" style="border-radius: 20px; background-color: #F6DB00;" id="bton">Tambah Playlist</button>
                </div>
            </div>

           </form>
           <script>
            $(document).ready(function(){
                $('form').submit(function(){
                    alert("Playlist added!\nClick OK to continue");
                });
            });
        </script>
{% endblock content %}