{% extends 'base.html' %}

    {% block meta %}
    {% load static %}
    <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script> 
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
    {% endblock meta %}

    {% block content %}
    <div class="container top-buttons">
        <h2>Library</h2>
        <div class="container-fluid3" style="margin-top: 20px;margin-bottom: 45px;">
            <a href="/songlib/addsong" style="float: right;">
                <button type="submit" class="btn" style="background-color: #F6DB00; border-radius: 20px;">Tambahkan lagu</button>
            </a>
            <a href="/songlib/my" style="float: left;">
                <button type="submit" class="btn" style="background-color: #F6DB00; border-radius: 20px;">Playlist Saya</button>
            </a>
        </div>    
    </div>
        <div class="play-table">
            <table>
                <tr>
                    <th scope="col">Artis</th>
                    <th scope="col">Judul</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Delete</th>
                </tr>
                {% for s in songlist %}
                <tr>
                    <td scope="row">
                        <a href="filter/artis/{{s.artis}}">{{s.artis}}</a>
                    </td>
                    <td style="text-align: left; padding-left: 2%;" scope="row"><a href="{{s.link}}">{{s.judul}}</a></td>
                    <td scope="row">
                        <a href="filter/genre/{{s.genre}}">{{s.genre}}</a>
                    </td>
                    <td style="padding-left: 2px; padding-right: 2px;" scope="row"><button onclick="deleteSong('delete/{{s.id}}')" class="btn btn-dark fa fa-trash"></button></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <script>
            function deleteSong(a){
                var del = confirm("Are you sure?");
                if (del == true){
                    alert("Song deleted.");
                    location.href = '/songlib/' + a;
                }
                else {
                    event.preventDefault();
                }
            }
        </script>
    {% endblock content %}