{% extends 'base.html' %}

    {% block meta %}
    {% load static %}
    <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script> 
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
    {% endblock meta %}

    {% block content %}
    <div class="container top-buttons">
        <h2>Playlist Saya</h2>
        <div class="container-fluid3" style="margin-top: 20px;margin-bottom: 45px;">
            <a href="/songlib/addplaylist" style="float: right;">
                <button type="submit" class="btn" style="background-color: #F6DB00; border-radius: 20px;">Tambahkan playlist</button>
            </a>
            <a href="/songlib/" style="float: left;">
                <button type="submit" class="btn" style="background-color: #F6DB00; border-radius: 20px;">Kembali ke library</button>
            </a>
        </div>    
    </div>
    <div class="play-table">
        <table>
            <tr>
                <th>Judul Playlist</th>
                <th>Delete</th>
            </tr>
            {% for m in mylist %}
            <tr>
                <td scope="row"><a href="{{m.nama}}">{{m.nama}}</a></td>
                <td><button onclick="deleteSong('my/delete/{{m.id}}')" class="btn btn-dark fa fa-trash"></button></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <script>
        function deleteSong(a){
            var del = confirm("Are you sure?");
            if (del == true){
                alert("Playlist deleted.")
                location.href = '/songlib/' + a;
            }
            else {
                event.preventDefault();
            }
        }
    </script>
    {% endblock content %}