{% extends 'base.html' %}
{% load static %}
<html lang="en" dir="ltr">
<head>
{% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="with-device-width, initial-scale=1, shrink-to-fit=no">
    <!--Link Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!--Link CSS-->
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="stylesheet" href="{% static 'static/css/style.css' %}">
    <link rel="stylesheet" href="staticfiles/ccs/style.css" type="text/css">
    <!--Swiper.css-->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">  
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script> 
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
            

    <style>
body {
            height: 100%;
            min-height: 35rem;
            position: relative;
            font-family: 'Merriweather';
            font-weight: 300;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
            font-family: 'Merriweather';
            font-weight: 700;
            }

            photo{
            position: fixed;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            transform: translateX(-50%) translateY(-50%);
            z-index: 0;
            }

            @media (pointer: coarse) and (hover: none) {


                .overlay {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: #cd9557;
                opacity: 0.7;
                z-index: 1;
                }
                
                .masthead {
                position: relative;
                overflow: hidden;
                padding-bottom: 3rem;
                z-index: 2;
                }
                
                .masthead .masthead-bg {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                width: 100%;
                min-height: 35rem;
                height: 100%;
                background-color: rgba(0, 46, 102, 0.8);
                transform: skewY(4deg);
                transform-origin: bottom right;
                }
                
                .masthead .masthead-content h1 {
                font-size: 2.5rem;
                }
                
                .masthead .masthead-content p {
                font-size: 1.2rem;
                }
                
                .masthead .masthead-content p strong {
                font-weight: 700;
                }
                
                .masthead .masthead-content .input-group-newsletter input {
                height: auto;
                font-size: 1rem;
                padding: 1rem;
                }
                
                .masthead .masthead-content .input-group-newsletter button {
                font-size: 0.8rem;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 1px;
                padding: 1rem;
                }
                
                @media (min-width: 768px) {
                .masthead {
                    height: 100%;
                    min-height: 0;
                    width: 40.5rem;
                    padding-bottom: 0;
                }
                .masthead .masthead-bg {
                    min-height: 0;
                    transform: skewX(-8deg);
                    transform-origin: top right;
                }
                .masthead .masthead-content {
                    padding-left: 3rem;
                    padding-right: 10rem;
                }
                .masthead .masthead-content h1 {
                    font-size: 3.5rem;
                }
                .masthead .masthead-content p {
                    font-size: 1.3rem;
                }
                }

    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');


        /*Collapsible*/
        /* Style the button that is used to open and close the collapsible content */
        .collapsible {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        }

        /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
        .active, .collapsible:hover {
        background-color: #ccc;
        }

        /* Style the collapsible content. Note: hidden by default */
        .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
        }

        /*swiper*/
        .swiper-container{
        height: 500px;
        
        }
        .swiper-slide{
        background: #CCC;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        }
    }
    </style>
</head>

{% endblock meta %}
{% block content %}
<body>
    <!-- Slider main container -->
    <div class="swiper-container" style=" background-image: url(/static/latar.png);">        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide" style="background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.8)), url('https://lh3.googleusercontent.com/3j9smWjqrjiJtyTEVHv4phOjg6mGFZZnKkDZvOiGruzncygCArDTbrBiTU0W_OdhnODaHJTCzpct93fvFcWiKvK6iWFBxByA6_DLoOvQ8O-wh2DLYi798WrcVzwJd3yuoIqdzjssTw=w2400');
            background-size: 100% ; max-width:100%;max-height:100%;"><h1 style="color : orange ; font-size:4vw">Meet Our (Amazing) Team!</h1>
                        <h2>Anyway, tombol ini bisa untuk menghilangkan kegundahan di hatimu lho</h2>
            <p>kegundahan</p>
            <button id="hide">hide</button>
            <button id="show">show</button>
            </div>
            <!--Slide pertama-->
            <div class="swiper-slide" style="background-image: url(/static/latar.png);">
                <div class="container" style="padding: 2%; padding-right: 6% ; border-radius: 5% / 5%;">
                    <img src="https://lh3.googleusercontent.com/-KPrzKHHevb6Jm54S2RXGPDfkPoeZQ39JiU3KGK33jTgjOOwzR2Oqoo4J8hDeeXjlDNSEaa4J6nrjJKoWl6DB_cocNZb8scpwpQf_hMqslPFGsoY6uWxgsHkjW_ZU175bOQS_F4Mcw=w2400" alt="Avatar" class="image" style="max-width:50%;max-height:50%; border-radius: 5% / 5%; position:relative; left:20%">
                        <div class="middle">
                        </div>
                </div>
                <div style="background-color: orange ; width: 80vw; height: 20vw; padding: 3% ; border-radius: 5% / 5%; position: relative; right: 10%;">
                <h4 style="color: white ; font-size:2vw">Abdillah Evan Nurdhiawan</h4>
                <h2 style="color: white ; font-size:2vw">Job Desk : <span style="display : block">Navbar, Landing Page, About Us</span></h2>
                <button style="width:5vw ;height:1.5vw; font-size:1vw; position:relative ; bottom:2%" type="button" class="collapsible">More</button>
                <div class="content" style="background-color: yellow ;  position:relative ; top:12%">
                <h4 style="font-size:2vw">Namanya Evan, Punya gebetan banyak tapi gaada satupun yang jadi, meski begitu dia tidak pernah menyerah</h4>
                </div>
                </div>
            </div>
            <!--Slide kedua-->
                    <div class="swiper-slide" style="background-image: url(/static/latar.png)">
                <div class="container" style="padding: 2%; padding-right: 6% ; border-radius: 5% / 5%;">
                    <img src="https://lh3.googleusercontent.com/HXp00_t5p2TK4mn4pN8sTw4RpcMxbWDmRR5jW_sfIKUIMliejyG7EtgLgoR4Kv6fS4EITnjLmt8eEewGFEg8768qwYd056l3MuTnJuZpnia5UFjvXsTZ4ZmsYNeqxexYVQs9qQGnoQ=w2400" alt="Avatar" class="image" style="max-width:50%;max-height:50%; border-radius: 5% / 5%; position:relative; left:20%">
                        <div class="middle">
                        </div>
                </div>
                <div style="background-color: orange ; width: 80vw; height: 20vw; padding: 3% ; border-radius: 5% / 5%; position: relative; right: 10%;">
                <h4 style="color: white ; font-size:2vw">Nur Hafsari Setyorini</h4>
                <h2 style="color: white ; font-size:2vw">Job Desk : <span style="display : block">Fitur Rekomendasi Lagu</span></h2>
                <button style="width:5vw ;height:1.5vw; font-size:1vw; position:relative ; bottom:2%" type="button" class="collapsible">More</button>
                <div class="content" style="background-color: yellow ;  position:relative ; top:12%">
                <h4 style="font-size:2vw">nama: Sari, <span style="display : block">harapan: lulus semua matkul semester 3, Aamiin</span></h4>
                </div>
                </div>
            </div>
            <!--Slide ketiga-->
                    <div class="swiper-slide" style="background-image: url(/static/latar.png);">
                <div class="container" style="padding: 2%; padding-right: 6% ; border-radius: 5% / 5%;">
                    <img src="https://lh3.googleusercontent.com/l8p5NIbf4eVJNHMG9Ykcnnzot0Td25hxBApEbFErBRylp0mBHW7eZdo46PBeBDnyx42SZ3vKqhbEBTO2Rq61K544Iod3SvV_lzGYGF-VdSFBkkPGul9ldCS22rbNE8HXTF9Hk3vazA=w2400" alt="Avatar" class="image" style="max-width:50%;max-height:50%; border-radius: 5% / 5%; position:relative; left:20%">
                        <div class="middle">
                        </div>
                </div>
                <div style="background-color: orange ; width: 80vw; height: 20vw; padding: 3% ; border-radius: 5% / 5%; position: relative; right: 10%;">
                <h4 style="color: white ; font-size:2vw">Yadhit Prasetya</h4>
                <h2 style="color: white ; font-size:2vw">Job Desk : <span style="display : block">Kritik dan Saran</span></h2>
                <button style="width:5vw ;height:1.5vw; font-size:1vw; position:relative ; bottom:2%" type="button" class="collapsible">More</button>
                <div class="content" style="background-color: yellow ;  position:relative ; top:12%">
                <h4 style="font-size:2vw">sering dipanggil Yadhit, Yadhit di dunia nyata berbanding terbalik dengan di medsos :""</h4>
                </div>
                </div>
            </div>
            <!--Slide keempat-->
                    <div class="swiper-slide" style="background-image: url(/static/latar.png);">
                <div class="container" style="padding: 2%; padding-right: 6% ; border-radius: 5% / 5%;">
                    <img src="https://lh3.googleusercontent.com/jJcHCWvOmNyLawne6BX0jhXlRK2lsspL8223wJniTMxrH1P2hbq0FAZwKdmsTbJL41yOpDPBsJ2Xtxn2JhOAepZr6vkn-Sl0nKh1Ajy3y8Hh2DsN5pxlnrLjc0TcV2FcW5URbGM8lg=w2400" alt="Avatar" class="image" style="max-width:50%;max-height:50%; border-radius: 5% / 5%; position:relative; left:20%">
                        <div class="middle">
                        </div>
                </div>
                <div style="background-color: orange ; width: 80vw; height: 20vw; padding: 3% ; border-radius: 5% / 5%; position: relative; right: 10%;">
                <h4 style="color: white ; font-size:2vw">Kukuh Satrio Wicaksono</h4>
                <h2 style="color: white ; font-size:2vw">Job Desk : <span style="display : block">Jadwal Belajar</span></h2>
                <button style="width:5vw ;height:1.5vw; font-size:1vw; position:relative ; bottom:2%" type="button" class="collapsible">More</button>
                <div class="content" style="background-color: yellow ;  position:relative ; top:12%">
                <h4 style="font-size:2vw">Hello World! Nama gw Kukuh, panggil aja kuh, udh gitu aja.</h4>
                </div>
                </div>
            </div>
            <!--slide kelima-->
                    <div class="swiper-slide" style="background-image: url(/static/latar.png);">
                <div class="container" style="padding: 2%; padding-right: 6% ; border-radius: 5% / 5%;">
                    <img src="https://lh3.googleusercontent.com/JHiSSt-kkfHjnNMgKBrA_FXkpRk-8gI09a557-KO1CCmNM7ZL4OPFRoYhvJ2Bhqueae_GFGYoYfxEytouEXc6_nOWnE-smRRVmNcB_AttXN99fkEDmQ1hDjOwSBp-tmKm2e9cJO4zw=w2400" alt="Avatar" class="image" style="max-width:50%;max-height:50%; border-radius: 5% / 5%; position:relative; left:20%">
                        <div class="middle">
                        </div>
                </div>
                <div style="background-color: orange ; width: 80vw; height: 20vw; padding: 3% ; border-radius: 5% / 5%; position: relative; right: 10%;">
                <h4 style="color: white ; font-size:2vw">Muhammad Hasbi</h4>
                <h2 style="color: white ; font-size:2vw">Job Desk : <span style="display : block">Catatan Pelajaran</span></h2>
                <button style="width:5vw ;height:1.5vw; font-size:1vw; position:relative ; bottom:2%" type="button" class="collapsible">More</button>
                <div class="content" style="background-color: yellow ;  position:relative ; top:12%">
                <h4 style="font-size:2vw">Biasa di panggil Hasbi, sambat adalah rutinitas wajib bagi Hasbi</h4>
                </div>
                </div>
            </div>
            ...
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js " integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV " crossorigin="anonymous "></script>
                <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
            <!--Swiper.JS-->
            <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
            <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

            <!--swiper Initialization-->
        <script>
        var mySwiper = new Swiper('.swiper-container', {


        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
        },
        })
        </script>
        <script>
    $(document).ready(function(){
    $("#hide").click(function(){
        $("p").hide("slow", function(){
        alert("gundah sudah hilang")
        });
    });
    $("#show").click(function(){
        $("p").show("slow", function(){
        alert("yah gundahnya muncul lagi :(")
        });
    });
    });
</script>
    <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
        content.style.display = "none";
        } else {
        content.style.display = "block";
        }
    });
    }
    </script>
</body>
    {% endblock content %}
