body {
    height: 100%;
    min-height: 35rem;
    position: relative;
    font-family: 'Merriweather';
    font-weight: 300;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    font-family: 'Merriweather';
    font-weight: 700;
    }

    photo{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
    }

    @media (pointer: coarse) and (hover: none) {


        .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #cd9557;
        opacity: 0.7;
        z-index: 1;
        }
        
        .masthead {
        position: relative;
        overflow: hidden;
        padding-bottom: 3rem;
        z-index: 2;
        }
        
        .masthead .masthead-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        min-height: 35rem;
        height: 100%;
        background-color: rgba(0, 46, 102, 0.8);
        transform: skewY(4deg);
        transform-origin: bottom right;
        }
        
        .masthead .masthead-content h1 {
        font-size: 2.5rem;
        }
        
        .masthead .masthead-content p {
        font-size: 1.2rem;
        }
        
        .masthead .masthead-content p strong {
        font-weight: 700;
        }
        
        .masthead .masthead-content .input-group-newsletter input {
        height: auto;
        font-size: 1rem;
        padding: 1rem;
        }
        
        .masthead .masthead-content .input-group-newsletter button {
        font-size: 0.8rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1rem;
        }
        
        @media (min-width: 768px) {
        .masthead {
            height: 100%;
            min-height: 0;
            width: 40.5rem;
            padding-bottom: 0;
        }
        .masthead .masthead-bg {
            min-height: 0;
            transform: skewX(-8deg);
            transform-origin: top right;
        }
        .masthead .masthead-content {
            padding-left: 3rem;
            padding-right: 10rem;
        }
        .masthead .masthead-content h1 {
            font-size: 3.5rem;
        }
        .masthead .masthead-content p {
            font-size: 1.3rem;
        }
        }

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');


/*Collapsible*/
/* Style the button that is used to open and close the collapsible content */
.collapsible {
background-color: #eee;
color: #444;
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
padding: 0 18px;
display: none;
overflow: hidden;
background-color: #f1f1f1;
}

/*swiper*/
.swiper-container{
height: 500px;

}
.swiper-slide{
background: #CCC;
display: flex;
justify-content: center;
align-items: center;
font-size: 60px;
}
}
body {
    height: 100%;
    min-height: 35rem;
    position: relative;
    font-family: 'Merriweather';
    font-weight: 300;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    font-family: 'Merriweather';
    font-weight: 700;
    }

    photo{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
    }

    @media (pointer: coarse) and (hover: none) {


        .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #cd9557;
        opacity: 0.7;
        z-index: 1;
        }
        
        .masthead {
        position: relative;
        overflow: hidden;
        padding-bottom: 3rem;
        z-index: 2;
        }
        
        .masthead .masthead-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        min-height: 35rem;
        height: 100%;
        background-color: rgba(0, 46, 102, 0.8);
        transform: skewY(4deg);
        transform-origin: bottom right;
        }
        
        .masthead .masthead-content h1 {
        font-size: 2.5rem;
        }
        
        .masthead .masthead-content p {
        font-size: 1.2rem;
        }
        
        .masthead .masthead-content p strong {
        font-weight: 700;
        }
        
        .masthead .masthead-content .input-group-newsletter input {
        height: auto;
        font-size: 1rem;
        padding: 1rem;
        }
        
        .masthead .masthead-content .input-group-newsletter button {
        font-size: 0.8rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1rem;
        }
        
        @media (min-width: 768px) {
        .masthead {
            height: 100%;
            min-height: 0;
            width: 40.5rem;
            padding-bottom: 0;
        }
        .masthead .masthead-bg {
            min-height: 0;
            transform: skewX(-8deg);
            transform-origin: top right;
        }
        .masthead .masthead-content {
            padding-left: 3rem;
            padding-right: 10rem;
        }
        .masthead .masthead-content h1 {
            font-size: 3.5rem;
        }
        .masthead .masthead-content p {
            font-size: 1.3rem;
        }
        }

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');


/*Collapsible*/
/* Style the button that is used to open and close the collapsible content */
.collapsible {
background-color: #eee;
color: #444;
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
padding: 0 18px;
display: none;
overflow: hidden;
background-color: #f1f1f1;
}

/*swiper*/
.swiper-container{
height: 500px;

}
.swiper-slide{
background: #CCC;
display: flex;
justify-content: center;
align-items: center;
font-size: 60px;
}
}