{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Saran</title>
<link rel="stylesheet" href="{% static 'saranstyle.css' %}">
{% endblock meta %} {% block content %}

<div class="container saran" id="kotaksaran">
    <div class="menu">
        <h2>Web ini masih dalam tahap pengembangan, setiap saran yang diberikan sangat berharga bagi kami<h2>
        <h5 class="pesan">- StudBuddy Dev Team</h5>
    </div>
    <!-- Modal -->
        {% if user.is_authenticated %}
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">Tambahkan Saran</button>
            <button type="button" class="btn btn-warning" id="uwu">Ganti tema</button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Tambahkan Saran</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-input">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="staticEmail">Username</label>
                                        <input type="text" readonly class="form-control-plaintext" name="user" value={{user.username}}>
                                        <label for="saran">Masukan Saran</label>
                                        <textarea class="form-control" id="saran" name="saran" rows="3"></textarea>
                                    </div>
                                    <button type="Submit" class="btn btn-success btn-block tombol" id="submit-saran">Tambahkan</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
            {% if size > 0 %}
                <div class="pencarian">
                    
                </div>
            {% else %}
                <div class="caption">
                    <h2> </h2>
                    <h2>-Belum ada saran dimasukan-</h2>
                    <h2> </h2>
                </div>
            {% endif %}
        {% else %}
            <div class="caption">
                <h2> </h2>
                <h2>-Silahkan login untuk melanjutkan-</h2>
                <h2> </h2>
                <div>
                    <a class="btn btn-warning" href="{% url 'login_register:auth' %}" role="button">Login</a>
                    <a class="btn btn-warning" href="{% url 'login_register:register' %}" role="button">Register</a>
                </div>
                

            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}