{% extends 'base.html' %}

    {% block meta %}
    <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script> 
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="/static/jquery-3.5.1.min.js"></script>
    <script src="/static/catatan.js"></script>
    <script src="/static/form.js"></script>
    <link rel="stylesheet" type="text/css" href='/static/catatan.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
   
    {% endblock meta %}

    {% block content %}
    <div class="container-fluid4 bg1 aturan">
        <p style="font-size: 90px; font-family: 'Caveat', cursive;" class="mx-auto my-0 text-uppercase">Hello!</p>
        <p style="font-size: 40px; font-family: 'Caveat', cursive;" class="mx-auto my-0 text-uppercase">This page can keep your notes and <br>share your notes to others</p><br>
        <button class="button1" style="vertical-align:middle"><span></span><a style="color: #151515; font-family: 'Caveat', cursive; font-size: 35px;" href="#catatanTambah">Start!</a> </span>
    </div>
    <div class="container-fluid" id="catatanTambah">
        <div class="row" >
            <div class="col-sm-12 col-md-6 container-fluid3">   
                <div id="catatanTerdaftar">
                    <p style="font-size: 40px; font-family: 'Caveat', cursive; text-align: center;" >Notes From Other User</p>
                    <table style="height: auto;">
                        <tr>
                            <th>User</th>
                            <th style="width: 50%;">Courses</th>
                        </tr>
                    </table>
                    <table class="fixed_header" style="width: 100%;" vertical-align: middle;>
                        <tbody id='result-bar'>
                        </tbody>
                    </table>
                </div>
            </div> 
            <div class="col-sm-12 col-md-6 container-fluid2"> 
                {% if user.is_authenticated %}
                <div class="card shadow-sm p-3 mb-5 rounded bg-white">
                    <div class="card-body">
                        <h4 style="text-align: center; font-size: 30px;"> Add Notes </h4>
                        <br>
                        <div id="catatanIsi">
                            <form id="form" style="padding: 2px;" method="POST" action="/catatan/post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group" style="text-align: center;">
                                    {{ form_tambah.as_p }}
                                </div> 
                                <br>
                                <div class="row">
                                    <div class="com-sm-12 col-md-6" style="margin-left: 35%;">
                                        <button type="submit" class="btn" style="border-radius: 20px; background-color: #f8c246;" id="bton" >Submit Notes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% else %}
                <h1 style="font-size: 90px; font-family: 'Caveat', cursive; text-align: center;">Log In To Start<br> Read and Take Notes! </h1>
                <button class="button2" style="vertical-align:middle; margin-left: 35%;"><span></span><a style="color: #f0f0f0; font-family: 'Caveat', cursive; font-size: 35px;" href="{% url 'login_register:auth' %}">Login</a> </span>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
{% endblock content %}