{% extends 'base.html' %}

    {% block meta %}
    {% load static %}
    <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script> 
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href='/static/catatan2.css'>
    <style>
        
        
    </style>
    {% endblock meta %}

    {% block content %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-6 container-fluid3">
                    <p style="font-size: 40px; font-family: 'Caveat', cursive; text-align: center;" >Notes From Other User</p>
                    <table style="height: auto;">
                        <tr>
                            <th>User</th>
                            <th style="width: 50%;">Courses</th>
                        </tr>
                    </table>
                    <table class="fixed_header" style="width: 100%; vertical-align: middle;">
                        <tbody>
                            {% for i in datas %}
                                <tr>
                                    <td style="width: 400px;">
                                            <br>
                                            <p style="text-align: center;">{{ i.nama }}</p>
                                    </td>
                                    <td style="width: 500px;">
                                        <a style="color: #555555;" href="/catatan/{{ i.matkul }}">
                                        <br>
                                        <p style="text-align: center;">{{ i.matkul }}</p> 
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> 
                <div class="com-sm-12 col-md-6 container-fluid2">
                    <br><br><br>
                    <div class="card shadow p-3 mb-5 bg-white rounded">
                        <div class="card-body">
                            {% for i in data %}
                        <div style="font-size: 30px;">
                            <div class="row">
                                <div class="com-sm-6">
                                    <img src="{% static 'profile.svg'%}" class="img-responsive margin" style="display: inline; height: 100px;">
                                </div>
                                <div class="com-sm-6 " style="margin-left: 6%; margin-top: 2%;">
                                    <p style="font-size: 30px;">{{i.nama}}</p>
                                    <p style="font-size: 20px; line-height: 0.9; padding-bottom: 1%;">{{i.fakultas}}</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="size">
                            <p>Nama Matkul:</p>
                            <p style="font-size: 23px; line-height: 1;">{{i.matkul}}</p>
                        </div>
                        <div class="size">
                            <p>Deskripsi Catatan:</p>
                            <p style="font-size: 20px; line-height: 1;">{{i.deskripsi}}</p>
                        </div>
                        <div class="size">
                            <p>Link Catatan:</p>
                            <p style="font-size: 20px; line-height: 1;"> {{i.link}}
                            <a href="{{i.link}}">    
                            <button type="submit" class="btn" style="background-color: #f5ce23; border-radius: 20px;">Menuju Link</button>
                            </a>
                            </p>
                            
                        </div>
                        <br>
                        <div class="row" style="margin-left: 35%;">
                            <div class="com-sm-6" >
                                <a href="/catatan">
                                    <button type="submit" class="btn" style="background-color: #f8c246; border-radius: 20px; ">Kembali</button>
                                </a>
                            </div>
                            <div class="com-sm-6">
                                <a href="/catatan/delete/{{ i.id }}">
                                    <button type="submit" class="btn" style="background-color: #f8c246; border-radius: 20px; margin-left: 8%;">Hapus</button>
                                </a>
                            </div>
                        </div>
                        <br><br>
                        {% endfor %}
                        </div>
                    </div>
                    </div>   
                </div>
        </div>
    {% endblock content %}