{% extends 'base.html' %}

{% block meta %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="/static/jadwal.js"></script>
<script src="/static/formjadwal.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet">
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        overflow-y: scroll;
        height: 100px;
        display: inline-table;
    }

    .container-fluid {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 60px;
        padding-right: 60px;
        background-color: #f8f6e8;
    }

    .container-fluid2 {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 3%;
    }

    .container-fluid3 {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 20px;
        padding-left: 10px;
    }

    table th {
        text-align: center;
        font-size: 20px;
        background-color: #f8c246;
        box-shadow: #000000;
    }

    table td {
        text-align: center;
        border: 2px solid #ffffff;
        padding: 4px 4px;
        max-width: 100px;
    }

    table tr:nth-child(odd) td {
        background-color: #ffdc89;
    }

    table tr:nth-child(even) td {
        background-color: #fff9d7;
    }
</style>
{% endblock meta %}

{% block content %}
<div class="container-fluid" id="jadwalTambah">
    <div class="row">
        <div class="col-sm-12 col-md-6 container-fluid3">
            <div id="jadwalTerdaftar">
                <table>
                    <tr>
                        <th>No.</th>
                        <th>Nama</th>
                        <th>Nama Matkul</th>
                        <th>Waktu</th>
                        <th>Ruang Kelas</th>
                        <th>Delete</th>
                    </tr>
                    {% if user.is_authenticated %}
                    <tbody id='resultnya'>
                    </tbody>
                    {% else %}
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 container-fluid2">
            <div>
                {% if user.is_authenticated %}
                <div class="card-body">
                    <h4 style="text-align: center; font-size: 30px;"> Tambah Jadwal </h4>
                    <br>
                    <div id="jadwalIsi">
                        <form id="form" style="padding: 2px;" method="POST" action="/jadwalBelajar/post"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group" style="text-align: center;">
                                {{ form_tambah.as_p }}
                            </div>
                            <br>
                            <div class="row">
                                <div class="com-sm-12 col-md-6" style="margin-left: 35%;">
                                    <button type="submit" class="btn"
                                        style="border-radius: 20px; background-color: #f8c246;" id="bton">
                                        Tambah ke Jadwal</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% else %}
                <h4 style="text-align: center; font-size: 30px;"> Login dlu gan.. </h4>
                <div class="row">
                    <div class="com-sm-12 col-md-6" style="margin-left: 40%;">
                        <a class="nav-link" href="{% url 'login_register:auth' %}">
                            <button class="btn"
                                style="border-radius: 20px; background-color: #f8c246; align-content: center;"
                                id="bton">Login</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}